/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.content {
    width: 60%;  /* Adjusted width to be smaller */
    margin: 50px auto;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

h2 {
    color: #FFD700;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2em;
    margin-top: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

button[type="submit"] {
    background-color: #FFD700;
    color: #000000;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #FFC700;
    transform: scale(1.05);
}
